.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.Ingredient {
    text-transform: capitalize;
    border: 1px solid #ccc;
    display: table-footer-group;
    padding: 5px;
    margin: 0 8px;

}