.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: center;

  a {
    color: #3f8f61;
    text-decoration: none;
    height: 100%;
    padding: 8px 16px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
  }

  a:hover,
  a.active {
    background-color: #667e53;
    border-bottom: 2px solid rgb(31, 117, 52);
    color: whitesmoke;
  }
}

@media (min-width: 500px) {
    .NavigationItem {
      margin: 0;
      box-sizing: border-box;
      width: 100%;
  
      a {
        color: whitesmoke;
        text-decoration: none;
        width: 100%;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
        display: block;
      }
  
      a:hover,
      a.active {
        background-color: #667e53;
        border-bottom: 2px solid rgb(31, 117, 52);
        color: whitesmoke;
      }
    }
  }